// Partials
@import "_constants.scss";

// Externals
@import url("normalize.css");
@import url("micons/micons.css");
@import url('https://fonts.googleapis.com/css?family=Lora:200,400,400i,700,700i|Poppins:300,400,600,700');
@import url("font-awesome/css/font-awesome.min.css");


html, body {
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  min-width: 320px;
  width: 100%;
}

main {
  .intro {
    background-color: $black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about {
    background-color: $white;
    height: 100vh;
  }

  .experience {
    background-color: $grey;
    height: 100vh;
  }

  footer {
    background-color: $black;
    height: 50vh;
  }
}

.intro-heading {
  text-align: center;
  text-rendering: optimizeLegibility;

  h5, h6 {
    text-transform: uppercase;
    margin: 1.5rem;
  }

  h1 {
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 0.8;
    margin: 0px;
    color: $white;
  }

  h5 {
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: .2rem;
    color: $yellow;
  }

  h6 {
    font-family: "lora", serif;
    font-weight: lighter;
    font-size: 0.65rem;
    line-height: 1.0rem;
    letter-spacing: 0.2rem;
    color: $white;
  }

  .buttons-container {
    .button {
      border: 2.5px solid rgba(255, 255, 255, 0.3);
    }
  }
}

.intro-social {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;

  .intro-social-item {
    padding: 5px;
    width: 50px;
    height: 50px;
    background-color: $black;
    text-align: center;
    font-size: 23px;
    font-weight: 400px;
    line-height: 28px;

    a {
      color: $white;
    }

    a:hover {
      color: $yellow;
    }

    a:visited {
      color: $grey
    }
  }
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // border: 2.5px solid $black;
  height: 3.375rem;
  width: 15.625rem;
  font-weight: bolder;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  // margin: 0px 10px;
}

.btn-black {
  background-color: $black;

  a {
    text-decoration: none;
    color: $white;
  }

  a:hover {
    color: $yellow;
  }
}

.btn-transparent {
  background-color: transparent;

  a {
    text-decoration: none;
    color: $black;
  }

  a:hover {
    color: $yellow;
  }
}


// Mobile-first responsive rulesets

@media only screen and (min-width:400px) {
  .intro h1 {
    font-size: 3rem;
  }

  .intro h5 {
    font-size: 1rem;
  }

  .intro h6 {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width:576px) {
  .intro h1 {
    font-size: 3.2rem;
    line-height: 0.25;
  }

  .intro h5 {
    font-size: 1.125rem;
  }

  .intro h6 {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width:768px) {
  .intro h1 {
    font-size: 4.5rem;
    line-height: 0.3;
  }

  .intro h5 {
    font-size: 1.25rem;
    letter-spacing: .2rem;
  }

  .intro h6 {
    font-size: 0.9rem;
    line-height: 2.5rem;
    letter-spacing: 0.2rem;
  }
}
