// Partials
@import "_constants.scss";

// Externals
@import url("normalize.css");
@import url("micons/micons.css");
@import url('https://fonts.googleapis.com/css?family=Lora:200,400,400i,700,700i|Poppins:300,400,600,700');
@import url("font-awesome/css/font-awesome.min.css");


html, body {
  font-family: "poppins", sans-serif;
}

main {
  .intro {
    background-color: $black;
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .about {
    background-color: $white;
    height: 100vh;
  }

  .experience {
    background-color: $grey;
    height: 100vh;
  }

  footer {
    background-color: $black;
    height: 50vh;
  }
}

.intro {
  text-align: center;
  text-rendering: optimizeLegibility;

  h5, h6 {
    text-transform: uppercase;
    margin: 1.5rem;
  }

  h1 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 0.8;
    margin: 0px;
    color: $white;
  }

  h5 {
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: .2rem;
    color: $yellow;
  }

  h6 {
    font-family: "lora", serif;
    font-weight: lighter;
    font-size: 0.5rem;
    line-height: 1.0rem;
    letter-spacing: 0.2rem;
    color: $white;
  }

  .buttons-container {
    .button {
      border: 2.5px solid $white;
    }
  }
}

// Mobile-first responsive rulesets

@media only screen and (min-width:400px) {
  .intro h1 {
    font-size: 2.3rem;
  }

  .intro h5 {
    font-size: 1rem;
  }

  .intro h6 {
    font-size: 0.6rem;
  }
}

@media only screen and (min-width:600px) {
  .intro h1 {
    font-size: 3.2rem;
    line-height: 0.25;
  }

  .intro h5 {
    font-size: 1.125rem;
  }

  .intro h6 {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width:768px) {
  .intro h1 {
    font-size: 4.5rem;
    line-height: 0.3;
  }

  .intro h5 {
    font-size: 1.25rem;
    letter-spacing: .2rem;
  }

  .intro h6 {
    font-size: 0.8rem;
    line-height: 2.5rem;
    letter-spacing: 0.2rem;
  }
}
