@import url("normalize.css");
@import url("micons/micons.css");
@import url("https://fonts.googleapis.com/css?family=Lora:200,400,400i,700,700i|Poppins:300,400,600,700");
@import url("font-awesome/css/font-awesome.min.css");
html, body {
  font-family: "poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  width: 100%;
}

main .intro {
  background-color: #151515;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .about {
  background-color: #FFF;
  height: 100vh;
}

main .experience {
  background-color: #EBEBEB;
  height: 100vh;
}

main footer {
  background-color: #151515;
  height: 50vh;
}

.intro-heading {
  text-align: center;
  text-rendering: optimizeLegibility;
}

.intro-heading h5, .intro-heading h6 {
  text-transform: uppercase;
  margin: 1.5rem;
}

.intro-heading h1 {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 0.8;
  margin: 0px;
  color: #FFF;
}

.intro-heading h5 {
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: .2rem;
  color: #FFF3B0;
}

.intro-heading h6 {
  font-family: "lora", serif;
  font-weight: lighter;
  font-size: 0.65rem;
  line-height: 1.0rem;
  letter-spacing: 0.2rem;
  color: #FFF;
}

.intro-heading .buttons-container .button {
  border: 2.5px solid rgba(255, 255, 255, 0.3);
}

.intro-social {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.intro-social .intro-social-item {
  padding: 5px;
  width: 50px;
  height: 50px;
  background-color: #151515;
  text-align: center;
  font-size: 23px;
  font-weight: 400px;
  line-height: 28px;
}

.intro-social .intro-social-item a {
  color: #FFF;
}

.intro-social .intro-social-item a:hover {
  color: #FFF3B0;
}

.intro-social .intro-social-item a:visited {
  color: #EBEBEB;
}

.buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3.375rem;
  width: 15.625rem;
  font-weight: bolder;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.btn-black {
  background-color: #151515;
}

.btn-black a {
  text-decoration: none;
  color: #FFF;
}

.btn-black a:hover {
  color: #FFF3B0;
}

.btn-transparent {
  background-color: transparent;
}

.btn-transparent a {
  text-decoration: none;
  color: #151515;
}

.btn-transparent a:hover {
  color: #FFF3B0;
}

@media only screen and (min-width: 400px) {
  .intro h1 {
    font-size: 3rem;
  }
  .intro h5 {
    font-size: 1rem;
  }
  .intro h6 {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 576px) {
  .intro h1 {
    font-size: 3.2rem;
    line-height: 0.25;
  }
  .intro h5 {
    font-size: 1.125rem;
  }
  .intro h6 {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 768px) {
  .intro h1 {
    font-size: 4.5rem;
    line-height: 0.3;
  }
  .intro h5 {
    font-size: 1.25rem;
    letter-spacing: .2rem;
  }
  .intro h6 {
    font-size: 0.9rem;
    line-height: 2.5rem;
    letter-spacing: 0.2rem;
  }
}
/*# sourceMappingURL=style.css.map */